.issued-staff {
  .staff-listing {
    .staff-list {
      img {
        width: 62px;
        height: 62px;
        border-radius: 50%;
      }
      P {
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
