@import "assets/scss/abstracts/abstracts-dir.scss";
.Line-chart {
  color: $primary-color;
  .highcharts-root {
    font-family: "Poppins" !important;
    font-size: fontsize(12px);
  }
  .cursor {
    cursor: pointer;
    background: $white;
  }
  .active {
    background-color: $primary-color;
    color: $white;
  }
  .activeColor {
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
  .button-shadow {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
}
