.add-terms-condition{
.containt{
    justify-content: center;   
}
.template-list{
    border: 1px solid #ced4da;
    padding: 20px;
    margin: 15px;
}
.icon-change{
    button{
        font-family:"Poppins", sans-serif; 
    }
}
}