@import "../../../assets/scss/abstracts/abstracts-dir.scss";

.DayEndReport {
  .day-end-title {
    padding: 10px;
    font-weight: 600;
    border-radius: 4px;
    color: $primary-color;
  }

  .maintable .table {
    min-height: 10vh !important;
    margin-bottom: 0;
    tbody > tr:last-child > td {
      background: #007bff26 !important;

      font-weight: 500;
    }
  }
}
